.Homepage{
    margin: 0 3rem;
}

.intro{
    border-bottom: 1px solid rgb(191, 191, 191);
    display: flex;
    justify-content: center;
}

.Job-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 300px;
    padding-top: 30px;   
}

.Job-title1{
    font-size: 5rem;
    color: rgb(88, 88, 238);

}

.Job-title2{
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    padding-top: 50px;
    color: #957dad;
    text-shadow: 1px 1px 10px white;
}

.Job-title1:hover{
  font-size: 6rem;
  transition: font-size 0.5s ease-in-out;

}

h2{
    text-decoration: underline;
    font-weight: 100;
}


.about-title{
    display: flex;
    flex-direction: column;
}

.ps{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.about{
    width: 60%;
    text-align: center;
}

.portrait{
    display: flex;
    text-align: center;
}