.contact-page{
    margin: 0 12rem;
}

.contact-title{
    text-align: center;
    text-decoration: underline;
    font-weight: 300;
    padding: 20px;
    margin-bottom: 30px;
    color: black;
}

.myLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(53, 162, 252);
}