.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.categories{
    display: flex;
    width: 30%;
    justify-content: space-around;
    cursor: pointer;
}

.navCat{
    text-decoration: none !important;
    border-bottom: none;
    color: white;
}

.navCat:hover{
    color: rgb(84, 197, 238);
    transition: all 0.5s ease;
    text-decoration: none !important;

}
